<!-- <body>
    <div class="wrapper">
        <div class="title">
           Signup
        </div>
        <form (ngSubmit)="userRegister()">
            <div class="field">
                <input type="text" required class="form-control" id="exampleInputPassword1">
                <label for="exampleInputPassword1" class="form-label"  id="userId" name="userId" required="required" [(ngModel)]="user.userId">
                    <strong>UserId</strong></label>
             </div>
            <div class="field">
                <input type="text" required class="form-control" id="exampleInputPassword1">
                <label for="exampleInputPassword1" class="form-label"  id="name" name="name" required="required" [(ngModel)]="user.name">
                    <strong>Full Name</strong></label>
             </div>
             <div class="field">
                <input type="text" required class="form-control" id="exampleInputPassword1">
                <label for="exampleInputPassword1" class="form-label" id="phone" name="phone" required="required" [(ngModel)]="user.phone">
                    <strong>Mobile Number</strong></label>
             </div>
            <div class="field">
                <input type="email" required class="form-control" id="exampleInputEmail1">
                <label for="exampleInputEmail1" class="form-label"  id="email" name="email" required="required" [(ngModel)]="user.email">
                    <strong>Email </strong></label>
             </div>
             <div class="field">
                <input type="password" required class="form-control" id="exampleInputPassword1">
                <label for="exampleInputPassword1" class="form-label"  id="password" name="password" required="required" [(ngModel)]="user.password">
                    <strong>Password</strong></label>
             </div>
           <br>
           <br>

           <div class="field">
              <input type="submit" value="Signup">
           </div>
           <div class="signup-link">
             Already Registered? <a routerLink="/loginuser">Login now</a>
           </div>
        </form>
     </div>
    </body> -->