<header>
    <nav>
       <div class="container">
         
           <!-- <a href="#" routerLink="/" class="logo">The Foodie Zone!😋</a> -->
           <a href="#" routerLink="/" class="logo"><img src="assets\logo.jpg"></a>
            
               <ul>
                   <li>
   
                       <app-search></app-search>
                       
                       <a href="#" routerLink="/main" class="home" ><span class="material-icons">home</span></a>
                       <a href="#" routerLink="/home" class="menu"><span class="material-icons">menu</span></a>
                       <!-- <a href="#" routerLink="/" class="search"><span class="material-icons">search</span></a> -->
                       <a href="#" routerLink="/cart-page" class="cart"><span class="material-icons">shopping_cart</span>
                         <!-- <span *ngIf="cartQuantity" class="shopcart">{{cartQuantity}}</span> -->
                       </a>
                       <!-- <a href="#" routerLink="/" class="favorite"><span class="material-icons">favorite</span></a> -->
   
                      
                                  
                   </li>
               </ul>
           
       </div>
    </nav>
   </header>     
   
                            
                       
                               
                               
                       
   
                           
                       
                        
                  
                    <!-- <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                     <div class="float-end">
                       <a href="#" class="btn btn-light"> 
                           <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign in  </span> 
                       </a>
                       <a href="#" class="btn btn-light"> 
                         <i class="fa fa-heart"></i>  <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>   
                       </a>
                       <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light"> 
                         <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span> 
                       </a>
                         </div>
                   </div>  -->
                       <!-- <a href="#" routerLink="/Cart-page"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                           <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                         </svg></a> -->
                   