<!-- <body>
    <div class="wrapper">
        <div class="title">
           Login
        </div>
        <form (ngSubmit)="userLogin()">
            <div class="field">
                <input type="text" required class="form-control" id="exampleInputEmail1">
                <label for="exampleInputEmail1" class="form-label"  id="userId" name="userId" required="required" [(ngModel)]="users.userId">
                    <strong>UserId </strong></label>
             </div>
             <div class="field">
                <input type="password" required class="form-control" id="exampleInputPassword1">
                <label for="exampleInputPassword1" class="form-label"  id="password" name="password" required="required" [(ngModel)]="users.password">
                    <strong>Password</strong></label>
             </div>
           <br>
           <br>
          
           <div class="field">
              <input type="submit" value="Login">
           </div>
           <div class="signup-link">
              New User? <a routerLink="/">Signup now</a>
           </div>
        </form>
     </div>
    </body> -->