<!-- <app-search></app-search> -->
<app-header></app-header>
<section>
    <div class="main">
       <div class="men_text">
         <h1>Handmade,<br>with an Extra Pinch of<span>LOVE</span></h1>
       
       </div>

       <a href="#" routerLink="/" class="main_image"><img src="assets\kq.png"></a>
        
    </div>


    <p>
        Hey, Our delicious food is waiting for you,<br>
        We are always near to you with fresh item of food.
    </p>

    

    <div class="main_btn">
        <a href="#" routerLink="/home">Explore Food</a>
        <i class='fas fa-angle-right'></i>
       </div> 


    
    
</section>  
<section>
    <div class="about" id="About">
        <div class="about_main">

               <div class="image">
                  <img src="assets\ss.jpg">
                  <!-- <img src="assets\lk.jpg"> -->
               
                </div>
               
               <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose Us????</h3>
                <p>
                    We have 8 years of collective experience with the added benefit of objectivity.
                    We have been in your shoes, have been successful, have learned from mistakes (ours and others), and have a passion for the industry.
                    We have trusted resources for every imaginable need: designers, contractors, point of sales systems, kitchen equipment, software, glassware and everything in between.
                    We understand real budgets and real time lines.
                    Our vast resource network, and each of our team members unique set of skills allows for a “one stop shop” approach.
                    You can hire the entire group, or just one or two of our consultants depending on your needs.
                    We offer a free initial consultation. Contact us today for a free initial consultation! 
                    Inventore, cupiditate recusandae.
                </p>

               </div>
        </div>
    </div>
</section>


<div class="gallary" id="Gallary">
    <h1>Our<span>Gallary</span></h1>

    <div class="gallary_image_box">
        <div class="gallary_image">
            <img src="assets\sandwich.jpg">

            <h3>Sandwich</h3>
           
            <a href="#" routerLink="/home" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets\cupcake.jpg">

            <h3>Cup Cake</h3>
           
            <a href="#" routerLink="/home" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets\dosa.jpg">

            <h3>Dosa</h3>
            
            <a href="#" routerLink="/home" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets\shake.jpg">

            <h3>Chocolate Shake</h3>
            
            <a href="#" routerLink="/home" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets\wrap.jpg">

            <h3>Wrap</h3>
           
            <a href="#" routerLink="/home" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets\uttapam.jpg">

            <h3>Uttapam</h3>
            
            <a href="#" routerLink="/home" class="gallary_btn">Order Now</a>
        </div>

    </div>

</div>